/data_visualization/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/data_visualization/.ipynb_checkpoints/axes_limits_scales-checkpoint.ipynb
/data_visualization/.ipynb_checkpoints/bar_charts-checkpoint.ipynb
/data_visualization/.ipynb_checkpoints/figures_axes_subplots-checkpoint.ipynb
/data_visualization/.ipynb_checkpoints/histograms-checkpoint.ipynb
/data_visualization/.ipynb_checkpoints/pie_charts-checkpoint.ipynb
/data_visualization/bivariate/.ipynb_checkpoints/clustered_bars-checkpoint.ipynb
/data_visualization/bivariate/.ipynb_checkpoints/faceting-checkpoint.ipynb
/data_visualization/bivariate/.ipynb_checkpoints/fasceting-checkpoint.ipynb
/data_visualization/bivariate/.ipynb_checkpoints/heat_maps-checkpoint.ipynb
/data_visualization/bivariate/.ipynb_checkpoints/line_charts-checkpoint.ipynb
/data_visualization/bivariate/.ipynb_checkpoints/line_plots-checkpoint.ipynb
/data_visualization/bivariate/.ipynb_checkpoints/magrinals-checkpoint.ipynb
/data_visualization/bivariate/.ipynb_checkpoints/scatter-checkpoint.ipynb
/data_visualization/bivariate/.ipynb_checkpoints/stacked_plots-checkpoint.ipynb
/data_visualization/bivariate/.ipynb_checkpoints/violin_and_box_plots-checkpoint.ipynb
/data_visualization/crossfit/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/data_visualization/crossfit/.ipynb_checkpoints/cleaning-checkpoint.ipynb
/data_visualization/crossfit/.ipynb_checkpoints/exploration_template-checkpoint.ipynb
/data_visualization/diamonds/crossfit/.ipynb_checkpoints/cleaning-checkpoint.ipynb
/data_visualization/diamonds/crossfit/athletes.csv
/data_visualization/diamonds/crossfit/athletes_allinfo.csv
/data_visualization/diamonds/crossfit/athletes_background.csv
/data_visualization/diamonds/crossfit/athletes_complete.csv
/data_visualization/diamonds/crossfit/athletes_edited.csv
/data_visualization/diamonds/crossfit/cleaning.ipynb
/data_visualization/diamonds/crossfit/leaderboard.15.csv
/data_visualization/miltivariate/.ipynb_checkpoints/2d_faceting-checkpoint.ipynb
/data_visualization/miltivariate/.ipynb_checkpoints/color-checkpoint.ipynb
/data_visualization/miltivariate/.ipynb_checkpoints/other_types_multiv-checkpoint.ipynb
/data_visualization/miltivariate/.ipynb_checkpoints/plot_matrices-checkpoint.ipynb
/data_visualization/resources/Example Project/.DS_Store
/data_visualization/resources/Example Project/.ipynb_checkpoints/Example_Project_Diamonds_P1-checkpoint.ipynb
/data_visualization/resources/Example Project/.ipynb_checkpoints/Example_Project_Diamonds_P2-checkpoint.ipynb
/data_visualization/resources/Example Project/.ipynb_checkpoints/Example_Project_Diamonds_Part1-checkpoint.ipynb
/data_visualization/resources/Example Project/.ipynb_checkpoints/Example_Project_Diamonds_Part2-checkpoint.ipynb
/data_visualization/resources/Example Project/Example_Project_Diamonds_Part1.html
/data_visualization/resources/Example Project/Example_Project_Diamonds_Part1.ipynb
/data_visualization/resources/Example Project/Example_Project_Diamonds_Part2.ipynb
/data_visualization/resources/Example Project/Example_Project_Diamonds_Part2.slides.html
/data_visualization/resources/Example Project/diamonds.csv
/data_visualization/resources/Example Project/output_toggle.tpl
/data_visualization/resources/Example Project/readme.md
/data_visualization/resources/Project Template/.ipynb_checkpoints/exploration_template-checkpoint.ipynb
/data_visualization/resources/Project Template/.ipynb_checkpoints/slide_deck_template-checkpoint.ipynb
/data_visualization/resources/Project Template/exploration_template.ipynb
/data_visualization/resources/Project Template/output_toggle.tpl
/data_visualization/resources/Project Template/readme.md
/data_visualization/resources/Project Template/slide_deck_template.ipynb
/data_visualization/univariate/.ipynb_checkpoints/axes_limits_scales-checkpoint.ipynb
/data_visualization/univariate/.ipynb_checkpoints/bar_charts-checkpoint.ipynb
/data_visualization/univariate/.ipynb_checkpoints/histograms-checkpoint.ipynb
/data_visualization/univariate/.ipynb_checkpoints/pie_charts-checkpoint.ipynb
